@import "tailwindcss";
@import "./backgrounds-real.css";
@import "./lib/accessibility/accessibility-styles.css";
@import "./styles/theme-variables.css";
@import "./styles/theme-inline.css";
@import "./styles/base.css";
@import "./styles/animations.css";
@import "./styles/game-area.css";
@import "./styles/media-queries.css";
